* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #162e6a;

}
.text {
    position: absolute;
    top: 5%;
    left: 3%;
    width: 45%;
}
.text h1 {
    font-size: 60px;
    color: rgb(212, 149, 210);
}
.text p{
    margin-top: 30px;
    font-size: 16px;
    color: aliceblue;
}

img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;

    animation: animate 1s ease-in-out;
}
@keyframes animate {
    0% {
        opacity: 0;
        transform: scale(0); /* Start from zero size */
        border-radius: 50%; /* Shape the image into a circle */
    }
    50% {
        opacity: 0.7; /* Fade in gradually */
        transform: scale(1.2); /* Expand slightly */
        border-radius: 50%; /* Maintain the circular shape */
    }
    100% {
        opacity: 1;
        transform: scale(1); /* Reach full size */
        border-radius: 0%; /* Revert border-radius to 0 to avoid the circular shape */
    }
}
